ament_copyright==0.12.15
ament_flake8==0.12.15
ament_pep257==0.12.15
charminal==1.1.0
cv_bridge==3.2.1
launch_ros==0.19.13
numpy==1.21.5
opencv_python==4.10.0.84
protobuf==3.12.4
pydantic==2.13.4
pytest==8.3.3
pytest==6.2.5
pyzmq==27.1.0
rclpy==3.3.21
sensor_msgs==4.9.1
setuptools==75.5.0
setuptools==80.8.0
setuptools==59.6.0
std_msgs==4.9.1
tf2_ros_py==0.25.20
tf_transformations==1.1.1
ultralytics==8.4.89
