<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Camera body -->
  <link name="rgbd_camera_link">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.072"/>
      <inertia
        ixx="0.0001"
        ixy="0"
        ixz="0"
        iyy="0.0001"
        iyz="0"
        izz="0.0001"/>
    </inertial>

    <visual>
      <origin xyz="-0.4 0 0" rpy="0 0 -1.5707"/>
      <!-- <geometry>
        <box size="0.09 0.025 0.025"/>
      </geometry> -->

      <geometry>
        <mesh filename="package://panda_description/meshes/visual/Camera.dae"/>
      </geometry>
      <!-- <material>
        <ambient>0.5 0.5 0.5 1</ambient>
        <diffuse>0.5 0.5 0.5 1</diffuse>
      </material> -->
      <!-- <material name="black"/> -->
    </visual>

    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 1.5707 0"/>
      <geometry>
        <box size="0.09 0.025 0.025"/>
      </geometry>
    </collision> -->

  </link>

  <!-- Mount to Panda -->
  <joint name="rgbd_camera_joint" type="fixed">
    <parent link="panda_link0"/>
    <child link="rgbd_camera_link"/>

    <!-- Slightly above and forward -->
    <origin xyz="0.545 0 0.8" rpy="0 1.5707 0"/>
  </joint>

  <!-- Optical frame -->
  <link name="rgbd_camera_link_optical"/>

  <joint name="rgbd_camera_optical_joint" type="fixed">
    <parent link="rgbd_camera_link"/>
    <child link="rgbd_camera_link_optical"/>
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  </joint>

  <!-- Gazebo RGBD sensor -->
  <gazebo reference="rgbd_camera_link">

    <sensor name="rgbd_camera" type="rgbd_camera">

      <always_on>true</always_on>
      <update_rate>30</update_rate>
      <visualize>true</visualize>

      <topic>camera</topic>

      <camera>

        <optical_frame_id>
          rgbd_camera_link_optical
        </optical_frame_id>

        <!-- D435-ish -->
        <horizontal_fov>1.48353</horizontal_fov>

        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>

        <clip>
          <near>0.1</near>
          <far>10.0</far>
        </clip>

        <!-- Simulated lens distortion -->
        <distortion>
          <k1>0.01</k1>
          <k2>0.01</k2>
          <k3>0.0</k3>
          <p1>0.0</p1>
          <p2>0.0</p2>
        </distortion>

        <!-- Depth noise -->
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.002</stddev>
        </noise>

      </camera>

    </sensor>

  </gazebo>

</robot>