<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
<!-- NOTE: This file is for declaring the "State Interface" and "Command Interface" -->

  <xacro:property name="PI" value="3.14159265359" />

  <ros2_control name="RobotSystem" type="system">
    
    <!-- ros2_control Gazebo -->
    <!-- ROS 2 Humble -->
    <xacro:if value="$(arg is_ignition)">
      <hardware>
        <plugin>ign_ros2_control/IgnitionSystem</plugin>
      </hardware>
    </xacro:if>
    
    <!-- ROS 2 Iron or above -->
    <xacro:unless value="$(arg is_ignition)">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
    </xacro:unless>

    <!-- Joint 1 -->
    <joint name="panda_joint1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Joint 2 -->
    <joint name="panda_joint2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Joint 3 -->
    <joint name="panda_joint3">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Joint 4 -->
    <joint name="panda_joint4">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Joint 5 -->
    <joint name="panda_joint5">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Joint 6 -->
    <joint name="panda_joint6">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Joint 7 -->
    <joint name="panda_joint7">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Gripper Finger Joint 1 -->
    <joint name="panda_finger_joint1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Gripper Finger Joint 2 -->
    <joint name="panda_finger_joint2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

  </ros2_control>

</robot>